.stock-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    height:90vh;
    justify-content: center;
    align-items: center;
    
}

.grid-container{
    display:flex;
    flex:1;
    flex-direction: row;
    width:100vw;
    height:100vh;
    justify-content: space-around;
    overflow: hidden;
}

body{
    height: 100vh;
}

.stock-grid{
    flex-grow: 5;
}

.product-view {
    flex-grow:3;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

.filter {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-bottom:0px;
    align-items:baseline;
}

.text-input .form-control{
    width: 20vw;
    
}

.search-label {
    margin: 5;
}

.stock_exports {
    position:absolute;
    right: 40%;
}

.locations_exports {
    position:absolute;
    right:5px;
}

.location-grid{
    flex:1;
}

.history_exports{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.stkHistory-grid {
    flex:1;
}