.stock-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    height:90vh;
    justify-content: center;
    align-items: center;
    
}

.grid-container{
    display:flex;
    flex:1;
    flex-direction: row;
    width:100vw;
    justify-content: space-around;
    
}

body{
    height: 100vh;
}

.stock-grid{
    flex-grow: 5;
}

.location-grid{
    flex-grow: 3;
}

.filter {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-bottom:0px;
    align-items:baseline;
}

.text-input .form-control{
    width: 20vw;
    
}

.search-label {
    margin: 5;
}

.stock_exports {
    position:absolute;
    right: 40%;
}

.locations_exports {
    position:absolute;
    right:5px;
}